.experience-container {
  padding: 2rem 0;
}

.experience-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: rgb(226, 232, 240); // slate-200
}

.experience-subtitle {
  font-size: 1.25rem;
  color: rgb(148, 163, 184); // slate-400
}
